body {
    background-color:black;
}

/* styl headeru */
header {
    background-color: black;
    display: flex;
    justify-content: center;
    
}

/* styl mainu */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:black;


}

/* styl nadpisu */
h1 {
    background-color: black;
    color: white;
    font-family: 'Bitcount Single', monospace;
    font-size: 65px;
    font-weight: 500;
    margin: 0px;
    padding: 20px;
}

/* style herni plochy */
canvas {
    margin: 10px;
    align-self: center;
    border: 7px solid white;
   ;
}

/* zarovnani herni plochy na stred */
#game-space {
    align-self: center;
}

/* zarovnani tlacitek */ 
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;         
    margin: 20px;
    width: auto;        
    flex-wrap: wrap;  
}

/* styl tlacitek */
button {
    padding: 10px 18px;    
    font-size: 24px; 
    font-family: 'Bitcount Single', monospace;     
    min-width: 110px;       
    flex: 0 0 auto; 
    color:black;
}